In [1]:
import tensorflow
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [4]:
# load the ANN train model ,sacler pickle, onehot
model=load_model('model.h5')
 
 # load the encoder and scaler 
with open('oneHot_encoder_geo.pkl','rb') as file:
    oneHot_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)



with open('scalar.pkl','rb') as file:
    scalar=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [32]:
#input data

input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [40]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [35]:
# one hot encode "Geography"
geo_encodeed=oneHot_encoder_geo.transform([input_df['Geography']])
geo_encodeed_df=pd.DataFrame(geo_encodeed,columns=oneHot_encoder_geo.get_feature_names_out(['Geography']))
geo_encodeed_df

c:\Users\siddh\anaconda3\envs\myenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [41]:
input_df = input_df.drop("Geography", axis=1).reset_index(drop=True)
input_df = pd.concat([input_df, geo_encodeed_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [42]:
# encode my categgorical vrialbwl

input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [29]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600.0,Male,40.0,3.0,60000.0,2.0,1.0,1.0,50000.0,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0

In [31]:
input_df

Empty DataFrame
Columns: [CreditScore, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Geography_France, Geography_Germany, Geography_Spain]
Index: []

In [44]:
# scaling the input data 
input_scale=scalar.transform(input_df)
input_scale

array([[-0.47154541,  0.90911166,  0.09477172, -0.69844549, -0.29010416,
         0.80510537,  0.63367318,  0.95214374, -0.84805047,  0.98019606,
        -0.57581067, -0.56349184]])

In [45]:
# prediction
prediction=model.predict(input_scale)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 241ms/step

array([[0.02508365]], dtype=float32)

In [46]:
prediction_prob=prediction[0][0]

In [47]:
prediction_prob

np.float32(0.025083652)

In [48]:
if prediction_prob>0.5:
    print("the customer is likely to churn.")
else:
    print(" the cusomer is not likely ot churn")

 the cusomer is not likely ot churn